In [21]:
import pandas as pd
import json

In [22]:
#first file in raw_data does not have a number, thus: ''
fileNumber = ['', '2']

for numToCheck in fileNumber:
    pymoli_df = pd.read_json('raw_data/purchase_data' + numToCheck + '.json')

In [23]:
pymoli_df.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [33]:
pymoli_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [42]:
playerCount = pymoli_df.groupby(['SN']).sum()
print (playerCount)

               Age  Item ID  Price
SN
Aeri79          23      107   4.15
Aerithllora36   40      148   4.65
Aesririam61     39        2   2.65
Aesurstilis64   36      139   4.25
Aidaira26       42       94   5.13
Aiduecal76       8        9   1.42
Airi27          24        4   1.91
Airithrin43     21      108   2.26
Alarap40        24      117   4.71
Ardcil81        38      163   4.16
Arithllorin55   21       90   4.12
Assistast50     23      118   2.95
Chamalo71       34      126   1.08
Chamast86       35       93   4.49
Chamjaskya75    17      180   2.77
Chaniman66      48      261   3.23
Chanirra64      18       25   4.78
Chanjasksda31   33       17   1.96
Chrathybust28   21       16   2.15
Eolideu96       18      111   1.79
Eollym91        20       18   3.75
Eoralphos86     11      131   2.99
Ethralan59      33      129   2.88
Eusty71         25       84   4.81
Eustyria89      30       60   2.70
Filon68         23      176   2.12
Firon67         23       68   4.39
Frichilsa31     20       14   2.82
Haerithp41      23      154   4.11
Hainaria90       8        8   2.22
...            ...      ...    ...
Jiskimsda56     24      126   1.08
Jiskjask76      21       31   4.59
Lassimla92      20      158   1.94
Lirtassa77      20       90   4.12
Lirtastan49     25      127   1.34
Lirtistanya48    7       98   1.29
Lisirra44       21      180   2.77
Lisosiast26     24        6   3.58
Palyon91        28        1   3.67
Pharithdil38    16        0   1.89
Pheodaisun84    20      108   2.26
Philodil43      22      154   4.11
Rarallo90        9      156   4.53
Saralp86        25       64   2.42
Seostylis96     16       94   3.64
Shaidanu32      16      172   2.71
Sondassasya91   20      170   1.74
Sondim43        23       94   3.64
Streural92      35       10   1.81
Sundaky74       50      177   7.41
Syalallodil59   20      134   2.15
Undadar97       25       98   1.29
Undilsan50      22       94   3.64
Undirra90       28       27   3.38
Undirrasta74    20       64   2.42
Undosian34      30      105   1.02
Yarith71         8       44   4.36
Yarithrgue83    23      181   4.12
Yarmol79        17       79   1.31
Zhisrisu83      24      174   1.36

[74 rows x 3 columns]